body {
    background-color: #383b42;
    color: #ffffff;
    height: 100vh;
}

.pageContainer {
    max-width: 1420px;
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
}

#nav {
    background-color: #6e00ff !important;
    min-width: 100%;
}

.application-offset .container-application:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: #6e00ff;
    border-bottom-left-radius: 2.5rem;
}

.divider {
    margin: 0 !important;
    padding: 0 !important;
}