body {
    background-color: #383b42;
    color: #ffffff;
    height: 100vh;
}

#nav {
    background-color: #1a1a1a !important;
    border-bottom: 3px solid #7952B3;
    margin-bottom: -59px;
}

#split {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#containerGrid>div {
    padding: 8px;
}